body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(16, 11, 11);
    background-size: cover;
}

.mx-50 {
    margin: 0px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
